:root {
  --messages-canvas-width: 420px;
  --all-border-radius: 4px;
  --text-block-bgcolor: #ffdbff;
  --text-block-fontcolor: black;
  --time-badge-bgcolor: #ffa9da;
  --time-badge-fontcolor: black;
  --background-img: url("../image/Background-Default.png");
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html{
  overflow: hidden;
  max-height: 100vh;
  background-image: url("../image/Logo.png");
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background-color: #5d00ff50;
}
.body-lock {
  overflow-x: hidden;
  overflow-y: hidden;
}
#main-view {
  white-space: nowrap;
  width: 896px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: #b3b3b3af;
}
#main-view *{
  white-space: normal;
}
#functions-bar{
  width: 448px;
  max-height: 100%;
  overflow-y:scroll;
  scrollbar-width: 0;
}
#functions-bar::-webkit-scrollbar{
  width: 0;
}
/* 抬头内容 */
#control {
  position: relative;
  margin: auto;
  width: 400px;
  border: none;
  padding-bottom: 20px;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#close-help-menu {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#close-help-menu > div {
  margin: auto;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 300;
  font-size: 12px;
  width: 50px;
}

.disabled {
  display: none;
}
/* 总背景框 */
#messages-canvas {
  z-index: 0;
  position: relative;
  width: var(--messages-canvas-width);
  margin: auto;
  border: none;
  background-image: var(--background-img);
  background-size: 100%;
  background-repeat: repeat;
}
#messages-canvas-container{
  overflow: auto;
  max-height: 100%;
  scrollbar-width: 0;
}
#messages-canvas-container::-webkit-scrollbar{
  width: 0;
}
#messages-body {
  margin: 20px 8px;
}
.messages-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.messages-header {
  width: var(--messages-canvas-width);
  size: 100% 100%;
}
.messages-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--messages-canvas-width);
  size: 100% 100%;
}
.messages-footer-placeholder {
  width: var(--messages-canvas-width);
  size: 100% 100%;
  opacity: 0;
}
/* 基础框 */
.basic-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
}
.basic-block::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: rgba(59, 59, 59, 0.685);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.basic-block:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
*[contenteditable] {
  position: relative;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
    STHeiti, MingLiu;
  min-width: 16px;
}
*[contenteditable]:hover {
  background-color: rgba(255, 255, 255, 0.356);
}

/* 时间框 */
.time-block {
  padding: 5px 0;
  text-align: center;
  font-size: smaller;
  font-weight: normal;
  color: #b3b3b3;
}

.time-block > span {
  position: relative;
  background-color: #ffa9da;
  color: white;
  padding: 1px 14px;
  border-radius: 14px;
}

/* 图片框、文本框 */
.text-block > span,
.image-block > span {
  position: relative;
  min-height: 16px;
  min-width: 15px;
  max-width: 100%;
  display: inline-block;
  margin: 10px 0;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  border-radius: var(--all-border-radius);
  font: 16px/20px "Noto Sans", sans-serif;
}
/* 图片框 - 主图 */
.image-block img.primary-img {
  width: 260px;
  border-radius: var(--all-border-radius);
}
/* 图片框 - 水印 */
.image-block img.water-print {
  position: absolute;
  right: 50px;
  bottom: 15px;
  height: 50px;
  opacity: 0.6;
  z-index: 100;
}
.image-block.left-block img.water-print {
  right: 15px;
}
.image-block.right-block img.water-print {
  left: 15px;
}

/* 文本框 - 箭头 */
.triangle {
  position: absolute;
  display: inline;
  top: 23px;
  width: 0px;
  height: 0px;
  border: solid transparent;
  border-left-color: var(--text-block-bgcolor);
  border-right-color: var(--text-block-bgcolor);
}
.text-block.left-block > .triangle {
  border-width: 5px 15px 5px 0;
  left: 68px;
}
.text-block.right-block > .triangle {
  border-width: 5px 0px 5px 15px;
  right: 68px;
}
/* 文本框 - 可编辑区域 */
.text-block div[contenteditable] {
  text-align: left;
  max-width: 100%;
}
/* 文本框 - 填充背景 */
.text-block > span.square {
  max-width: 65%;
  padding: 10px 10px;
  font: 16px/20px "Noto Sans", sans-serif;
  background-color: var(--text-block-bgcolor);
  color: black;
}
/* 头像 */
img.avatar-icon {
  position: absolute;
  top: 5px;
  height: 50px;
  width: 50px;
}
.left-block > img.avatar-icon {
  left: 8px;
}
.right-block > img.avatar-icon {
  right: 8px;
}
/* 方向调整 */
.left-block {
  text-align: left;
}
.left-block > span {
  margin-left: 80px;
}
.right-block {
  text-align: right;
}
.right-block > span {
  margin-right: 80px;
}
